<div id="note_<%=note.id%>" class="note" data-id="<%=note.id%>">
  <!-- hide the root note -->
  <div class="row note_line" style="display:<%='none' if note.parent.nil?%>">
    <div class="col-sm-6">
      <!-- There is js code in note.js to automatically send text from conteneditable to the hidden field -->
      <div class="form-control content  <%='completed' if note.completed%>" contenteditable="true"><%= note.text %></div>
    </div>
    <div class="actions col-sm-6">
      <%= form_for note, method: "patch", remote: true do |f| %>
        <%= f.hidden_field :text, value: note.text, class: "hidden_text" %>
        <%= f.submit 'Update', class: 'update_action' %>
      <% end %>
      <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'destroy_action' %>
      <%= link_to 'Add children', add_children_path(note), remote: true, class: 'add_children_action' %>
      <%= link_to 'Add sibling', add_sibling_path(note), remote: true, class: 'add_sibling_action' %>
      <%= link_to 'Complete', toggle_complete_path(note), remote: true, class: 'complete_action' %>
    </div>
  </div>
  <div class="row children">
    <% note.children.each do |note_child| %>
      <%= render :partial => "note_partial", :locals => { note: note_child  } %>
    <% end %>
  </div>
</div>
