<div id="note_<%=note.id%>" class="note" data-id="<%=note.id%>">
  <!-- hide the root note -->
  <div class="row note_line" style="display:<%='none' if note.parent.nil?%>">
    <div class="col-sm-6">
      <span class="bullet_point">•</span>
      <span class=" content  <%='completed' if note.completed%>" spellcheck="false" contenteditable="true"><%= note.text %></span>
    </div>
    <div class="actions col-sm-6">
      <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, remote: true, class: 'destroy_action' %>
      <%= link_to 'Add children', add_children_path(note), remote: true, class: 'add_children_action hidden' %>
      <%= link_to 'Add sibling', add_sibling_path(note), remote: true, class: 'add_sibling_action hidden' %>
      <%= link_to 'Complete', toggle_complete_path(note), remote: true, class: 'complete_action' %>
    </div>
  </div>
  <div class="row children">
    <% note.children.each do |note_child| %>
      <%= render :partial => "note_partial", :locals => { note: note_child  } %>
    <% end %>
  </div>
</div>
