<div id="note_<%=note.id%>">
  <span class="content" contenteditable="true"><%= note.text %></span>
  <span class="actions"> 
    <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Add children', add_children_path(note), remote: true %>
    <%= link_to 'Complete', toggle_complete_path(note), remote: true %>
  </span>
  <div class="children">
    <% note.children.each do |note_child| %>
      <%= render :partial => "note_partial", :locals => { note: note_child  } %>
    <% end %>
  </div>
</div>
