<div id="note_<%=note.id%>">
  <!-- There is js code in note.js to automatically send text from conteneditable to the hidden field -->
  <span class="content" contenteditable="true"><%= note.text %></span>
  <span class="actions"> 
    <%= form_for note, method: "patch", remote: true do |f| %>
      <%= f.hidden_field :text, value: note.text, class: "hidden_text" %>
      <%= f.submit 'Update' %>
    <% end %>      
    <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %>
    <%= link_to 'Add children', add_children_path(note), remote: true %>
    <%= link_to 'Complete', toggle_complete_path(note), remote: true %>
  </span>
  <div class="children">
    <% note.children.each do |note_child| %>
      <%= render :partial => "note_partial", :locals => { note: note_child  } %>
    <% end %>
  </div>
</div>
