<h1>Note#index</h1>

<ul>
  <li>
    <%= @note_root.text %> 
    <span class="actions"> 
        <button>add children</button> 
    </span>
  </li>
  
  <% @notes.each do |note| %>
    <li id="note_<%=note.id%>">
      <%= note.text %> 
      <span class="actions"> 
        <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Add children', add_children_path(note), remote: true %>  
      </span>
    </li>
  <% end %>
</ul>
